---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@/styles/globals.css';
import Navigation from "@/components/site/Navigation"
import { Button } from "@/components/ui/button"
---
<Navigation client:load />

<Layout title="Experience">
	<main>
	</main>
</Layout>