---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import BioCard from "../components/common/BioCard";
import SkillsCard from "../components/common/SkillsCard";
import "@/styles/globals.css";
import Navigation from "@/components/site/Navigation";
import HeroText from "../components/site/HomeHeroText";
---

<Navigation client:load />

<Layout title="Portfolio: Luke Arsenault" client:load>
  <main>
    <PageLayout>
      <HeroText client:load />
      <BioCard />
      <SkillsCard />
    </PageLayout>
  </main>
</Layout>
