---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import BioCard from "../components/site/BioCard";
import NavBlocks from "../components/site/NavBlocks"
import SkillsCard from "../components/site/SkillsCard";
import "@/styles/globals.css";
import Navigation from "@/components/site/Navigation";
import HeroText from "../components/site/HomeHeroText";
---

<style>
  .page-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .section {
    display: flex;
    justify-content: center;
  }

</style>


<Layout title="Luke Arsenault">
  <main class="page-container">
    <PageLayout>
      <div class="section">
        <HeroText client:load />
      </div>
      <div class="section">
        <BioCard />
      </div>
      <div class="section">
        <NavBlocks client:load />
      </div>
      <div class="section">
        <SkillsCard />
      </div>
    </PageLayout>
  </main>
</Layout>